{erl_opts, [
    debug_info,
    error,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.1.1"}}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}}
]}.

{relx, [
    {release, {celo, "0.1.0"}, [
        celo_core,
        celo_http
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}]}
        ]
    },

    {test, [
        {deps, [
            {triq, ".*", {git, "https://github.com/krestenkrab/triq.git", {ref, "2fe1529bc1460e0a8cd356ef7a8fda9e43120445"}}}
        ]}
    ]}
]}.

{dialyzer_warnings, []}.

%% vim: set ft=erlang :
