[
    % Celo Core.
    {celo_core, [
        % Home directory.
        {home_dir, "~/celo/"}
    ]},

    % Celo HTTP.
    {celo_http, [
        % TLS.
        {tls, [
            {port, 10443},

            % Paths are relative to celo_core's home variable.
            {ca_file,   "tls/ca.crt"},
            {cert_file, "tls/server.pem"},
            {dh_file,   "tls/dh.pem"},
            {key_file,  "tls/server.key"}
        ]}
    ]},

    % Lager configuration.
    {lager, [
        % Console colors.
        {colored, true},

        % Log handlers configuration.
        {handlers, [
            % Console logging.
            {lager_console_backend, info},

            % Error file logging.
            {lager_file_backend, [
                {file, "error.log"},
                {level, error},
                {date, "$D0"},
                {count, 5}
            ]},

            % Info file logging.
            {lager_file_backend, [
                {file, "console.log"},
                {level, info},
                {date, "$D0"},
                {count, 5}
            ]}
        ]}
    ]},

    % SASL configuration.
    {sasl, [
        % Log file.
        {sasl_error_logger, {file, "log/sasl-error.log"}},

        % Log type.
        {errlog_type, error},

        % Log directory.
        {error_logger_mf_dir, "log/sasl"},

        % 10 MB max file size.
        {error_logger_mf_maxbytes, 10485760},

        % 5 files max.
        {error_logger_mf_maxfiles, 5}
    ]}
].

%% vim: set ft=erlang et :
